@import url(style2.css);
body {
  background: white; }

.el {
  width: 98px;
  background-color: #3333ff; }

.list {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  /*color: $color;*/
  width: calc(100% - 10px); }
  .list:hover {
    color: green; }
  .list > a {
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
