@import "style2.css";

$primary: blue;
$secondary: green;
$darkMode: true;
$colors: red blue green;
$margin: 10px;
$borderWidth: 2px;
$outerWidth: 100px;

body {
  background: white;
}

.el {
  width: $outerWidth - $borderWidth;
  background-color: lighten(blue, 10%);
}


// НЕ ЗАБЫТЬ
//@each $col in $colors {
//  .col-#{$col} {
//    color: $col;
//  }
//}

@mixin card($color: green, $withShadow: true) {
  @if($withShadow) {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  border-radius: 5px;
  //color: $color;
  /*color: $color;*/
}
.list {
  @include card(blue);
  width: calc(100% - #{$margin});

  &:hover {
    color: $secondary
  }

  @if($darkMode) {
    > a {
      text-decoration: none;
    }
  }
}




