body {
  font-family: Arial, sans-serif; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  background-color: #9c9c9c; }
  .header__home-link {
    text-decoration: none; }
  .header__logo {
    height: 40px;
    width: 40px; }
  .header__menu {
    display: flex; }
  .header__menu-item {
    margin: 0 10px; }
    .header__menu-item:first-child {
      margin-left: 0; }
    .header__menu-item:last-child {
      margin-right: 0; }
  .header__menu-link {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    color: white;
    text-decoration: none; }
    .header__menu-link:hover {
      border-bottom: 2px solid white; }

/*# sourceMappingURL=style.css.map */
