@media only screen and (min-width: 980px) {
    .container {
        padding: 0 15px;
    }

    .navbar {
        padding: 8px 15px 6px 15px;
    }

    .navbar-title {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-logo {
        display: block;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        background: none;
        position: static;
    }

    .navbar-nav-item {
        border: none;
    }

    .navbar-nav-link {
        color: #ffffff;
        text-transform: uppercase;
        padding: 0;
        margin-right: 32px;
        font-size: 15px;
    }

    .navbar-nav-item:hover {
        background: none;
    }

    .header {
        background: url("../img/header-fon copy@1X.png") no-repeat center/cover;
        padding-top: 54px;
        padding-bottom: 280px;
    }

    .header-title {
        font-size: 54px;
        font-weight: 600;
        padding-left: 15px;
    }

    .pizza-is-good {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .link {
        font-size: 34px;
    }

    .menu-category {
        flex-direction: row;
    }

    .menu-category-wrapper {
        flex-basis: 33.333%;
    }

    .menu-category-arrow {
        display: none;
    }

    .menu-category-link {
        padding: 145px 0 150px 0;
        font-size: 38px;
    }

    .menu-category-link.pizza {
        background: url("../img/Pizza delivery fon copy 2@1X.png") no-repeat center/cover;
    }

    .menu-category-link.salads {
        background: url("../img/UA_UX Salads fon copy 2@1X.png") no-repeat center/cover;
    }

    .menu-category-link.deserts {
        background: url("../img/Desserts fon copy 2@1X.png") no-repeat center/cover;
    }

    .menu-category-footer {
        /*padding-left: 27px;*/
        padding: 45px 27px 0 27px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-category-footer-title {
        font-size: 36px;
    }

    .menu-category-footer-logo {
        display: block;
    }

    .product-menu-container {
        flex-direction: row;
        align-items: center;
    }

    .product-menu {
        flex-basis: 50%;
    }

    .product-menu.right {
        margin-bottom: 21px;
    }

    .product-menu-title-gray-text {
        font-size: 36px;
        padding: 20px 0;
    }

    .product-menu-title-green-text {
        font-size: 36px;
        padding: 20px 0;
    }

    .product-menu-category-title {
        font-size: 26px;
    }

    .product-menu-category-img.sharp {
        width: 40px;
        height: 40px;
        margin: 0;
    }

    .product-menu-category-img.wine {
        width: 25px;
        height: 44px;
        margin: 0;
    }


    .product-menu-category-img.tea {
        width: 56px;
        height: 42px;
        margin: 0;
    }

    .product-menu-category-img.beer {
        width: 40px;
        height: 42px;
        margin: 0;
    }

    .product-menu-position-title {
        font-size: 24px;
    }

    .product-menu-position-price {
        font-size: 24px;
    }

    .product-menu-position-description {
        font-size: 14px;
        line-height: 20px;
    }

    .footer {

        padding: 7px 30px;
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-content {
        display: flex;
    }

    .footer-text {
        padding: 0;
    }
}