/*@media only screen and (min-width: 400px){*/
    /*.menu-category-link.pizza {*/
        /*background: url("../img/Pizza delivery fon copy 2@1X.png") no-repeat center/cover;*/

        /*background-position:  0 -240px;*/
    /*}*/
/*}*/

@media only screen and (min-width: 640px) {
    .container {
        padding: 0 35px;
    }

    .navbar {
        padding: 27px 0;
    }

    .navbar-title {
        font-size: 24px;
    }

    .navbar-toggler {
        padding: 26px 26px;
    }

    .navbar-toggler-lines {
        width: 31px;
        height: 4px;
        margin-bottom: 4px;
    }

    .change .top-line {
        transform: rotate(-45deg) translate(-7px, 7px);
    }

    .change .bottom-line {
        transform: rotate(45deg) translate(-4px, -4px);
    }

    .navbar-nav {
        top: 76px;
        display: none;
        position: absolute;
        right: 0;
        background-color: #ffffff;
        flex-direction: column;
    }

    .navbar-nav-link {

        padding: 14px 130px 14px 27px;
        font-size: 14px;
    }

    .header {
        background: url("../img/header-fon copy 2@1X.png") no-repeat center/cover;
        padding-top: 30px;
        padding-bottom: 197px;
    }

    .header-title {
        font-size: 36px;
    }

    .pizza-is-good {
        padding-bottom: 25px;
    }

    .link {
        font-size: 24px;
    }

    .menu-category-link.pizza {
        background: url("../img/Pizza delivery fon copy 2@1X.png") no-repeat center/cover;
        background-position:  0 -290px;
        }

    .menu-category-link.salads {
        background: url("../img/UA_UX Salads fon copy 2@1X.png") no-repeat center/cover;
        background-position: 0 -240px;
    }

    .menu-category-link.deserts {
        background: url("../img/Desserts fon copy 2@1X.png") no-repeat center/cover;
        background-position: 0 -40px;
    }

    .menu-category-link {
        padding: 59px 0;
        font-size: 36px;

    }

    .menu-category-arrow {
        height: 154px;
        width: 178px;
    }

    .fa-chevron-right {
        font-size: 26px;
    }

    .menu-category-footer {
        padding: 40px 20px 20px 20px;
    }

    .menu-category-footer-title {
        font-size: 40px;
        letter-spacing: 0.1px;
        padding-bottom: 9px;
    }

    .menu-category-footer-text {
        font-size: 19px;
    }

    .product-menu-title-gray-text {
        font-size: 40px;
        padding: 20px 0;
    }

    .product-menu-category {
        padding: 25px 0 30px 0;
    }

    .product-menu-category-title {
        font-size: 30px;
    }

    .product-menu-category-img.sharp {
        background: url("../img/Layer 11 copy 2@1X.png") no-repeat center/cover;
        width: 49px;
        height: 49px;
    }

    .product-menu-category-img.wine {
        background: url("../img/Layer 9 copy 2@1X.png") no-repeat center/cover;
        width: 27px;
        height: 48px;
        margin-right: 7px;
        margin-top: 2px;
    }


    .product-menu-category-img.tea {
        background: url("../img/Layer 10 copy 2@1X.png") no-repeat center/cover;
        width: 61px;
        height: 42px;
    }

    .product-menu-category-img.beer {
        background: url("../img/Layer 8 copy 2@1X.png") no-repeat center/cover;
        width: 43px;
        height: 42px;
    }

    .product-menu-position-title {
        font-size: 27px;
    }

    .product-menu-position-price {
        font-size: 27px;
    }

    .product-menu-position-description {
        font-size: 17px;
        line-height: 20px;
    }

    .product-menu-title-green-text {
        font-size: 40px;
        padding: 20px 0;
    }

    .footer {
        padding-top: 28px;
        padding-bottom: 23px;
    }

    .footer-text {
        font-size: 18px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 641px){
    .navbar {
        padding: 10px 0;
    }

    .navbar-content {
        padding: 0 20px;
    }
    .navbar-title {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        background: none;
        position: static;
    }

    .navbar-nav-item {
        border: none;
    }

    .navbar-nav-link {
        color: #ffffff;
        text-transform: uppercase;
        padding: 0;
        margin-right: 10px;
        font-size: 15px;
    }

    .navbar-logo {
        display: block;
    }
}


