@media only screen and (min-width: 1200px) {
    .container {
        padding: 0 20px;
    }

    .navbar {
        padding: 7px 17px;
    }

    .header {
        background: url("../img/header-fon@1X.png") no-repeat center/cover;
        padding-top: 50px;
        padding-bottom: 350px;
    }

    .header-title {
        font-size: 62px;
        padding: 0 17px;
    }

    .pizza-is-good {
        padding-top: 10px;
        padding-bottom: 70px;
    }

    .link {
        font-size: 38px;
    }

    .menu-category-link {
        padding: 180px 0 180px 0;
        font-size: 45px;
    }

    .menu-category-link.pizza {
        background: url("../img/Pizza delivery fon@1X.png") no-repeat center/cover;
    }

    .menu-category-link.salads {
        background: url("../img/UA_UX Salads fon@1X.png") no-repeat center/cover;
    }

    .menu-category-link.deserts {
        background: url("../img/Desserts fon@1X.png") no-repeat center/cover;
    }

    .menu-category-footer {
        padding: 60px 18px 0 18px;
    }

    .menu-category-footer-title {
        font-size: 39px;
    }

    .menu-category-footer-logo {
        width: 120px;
        height: 98px;
    }

    .product-menu-title-gray-text {
        font-size: 39px;
        padding: 20px 0;
    }

    .product-menu-title-green-text {
        font-size: 39px;
        padding: 20px 0;
    }

    .product-menu-category-title {
        font-size: 29px;
    }

    .product-menu-position-title {
        font-size: 26px;
    }

    .product-menu-position-price {
        font-size: 26px;
    }

    .product-menu-position-description {
        font-size: 18px;
    }

    .product-menu-category-img.sharp {
        width: 48px;
        height: 48px;
        margin: 0;
    }

    .product-menu-category-img.wine {
        width: 27px;
        height: 48px;
        margin: 0;
    }


    .product-menu-category-img.tea {
        width: 61px;
        height: 46px;
        margin: 0;
    }

    .product-menu-category-img.beer {
        width: 45px;
        height: 46px;
        margin: 0;
    }

    .product-menu.right {
        margin-bottom: 25px;
    }

    .footer {
    margin-top: 100px;
    }

    .max-width {
        max-width: 1200px;
        margin: 0 auto;
    }
}

