@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-BoltItalic;
    src: url("../fonts/Lato-BoldItalic.ttf");
}

html body {
    font-family: 'Lato-Regular', serif;
}

    .container {
        width: 100%;
        /*max-width: 290px;*/
        padding: 0 17px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .navbar {
        padding: 12px 0 12px 1px;
        background-color: #373c3f;
    }

    .navbar-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .navbar-logo {
        display: none;
    }

    .navbar-nav {
        display: none;
        position: absolute;
        right: 0;
        top: 37px;
        background-color: #ffffff;
        flex-direction: column;
    }

    .navbar-nav.open {
        display: flex;
    }

    .navbar-nav-item {
        border: 1px solid #efefef;
    }

    .navbar-nav-item:hover {
        background-color: #f5f5f5;
    }

    .navbar-nav-link {
        display: inline-block;
        padding: 9px 95px 9px 12px;
        color: #373c3f;
        text-decoration: none;
        font-size: 12px;
    }

    .navbar-title {
        font-family: 'Montserrat-Medium', serif;
        font-size: 12px;
        color: #ffffff;
    }

    .navbar-toggler {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: #202529;
        padding: 12px 13px;
        text-align: center;
    }

    .change .top-line {
        transform: rotate(-45deg) translate(-4px, 5px);
    }

    .change .center-line {
        opacity: 0;
    }

    .change .bottom-line {
        transform: rotate(45deg) translate(-1px, -2px);
    }

    .navbar-toggler-lines {
        background-color: #ffffff;
        width: 17px;
        height: 2px;
        /*border-radius: 5px;*/
        margin-bottom: 2px;
        transition: .3s;
    }


    .header {
        background: url("../img/header-fon copy 3@1X.png") no-repeat center/cover;
        padding-top: 17px;
        padding-bottom: 94px;
    }

    .header-title {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        letter-spacing: 0.1px;
        word-spacing: 0.8px;
        font-size: 16px;
        padding-left: 3px;
    }

    .pizza-is-good {
        padding-top: 7px;
        padding-bottom: 10px;
    }

    .link {
        color: #95bec6;
        text-decoration: none;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .menu-category {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2px;
    }

    .menu-category-wrapper {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-top: 2px;
    }

    .menu-category-link.pizza {
        background: url("../img/Pizza delivery fon copy 3@1X.png") no-repeat bottom/cover;
        background-position: 0 -205px;
    }

    .menu-category-link.salads {
        background: url("../img/UA_UX Salads fon copy 3@1X.png") no-repeat center/cover;
        background-position: 0 -160px;
    }

    .menu-category-link.deserts {
        background: url("../img/Desserts fon copy 3@1X.png") no-repeat top/cover;
        background-position: 0 -27px;
    }

    .menu-category-link {
        flex-basis: 100%;
        font-size: 20px;
        color: #ffffff;
        padding: 27px 0;
        letter-spacing: 0.2px;
        text-align: center;
    }

    .menu-category-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 74px;
        background-color: #acd8ad;
    }

    .fa-chevron-right {
        font-size: 13px;
        color: #ffffff;
    }

    .menu-category-footer {
        padding: 25px 9px 7px 9px;
    }

    .menu-category-footer-title {
        text-transform: uppercase;
        font-size: 19px;
        letter-spacing: 0.5px;
        color: #373c3f;
    }

    .menu-category-footer-text {
        font-size: 9px;
        letter-spacing: 0.45px;
        color: #dddddd;
        position: relative;
        bottom: 4px;
    }

    .menu-category-footer-logo {
        display: none;
    }

    .product-menu-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .product-menu {
        color: #3f4043;
    }

    .product-menu-title-gray {
        background-color: #3f4043;
        /*margin-bottom: 13px;*/
    }

    .product-menu-title-gray-text {
        color: #acd8ad;
        font-size: 19px;
        text-transform: uppercase;
        padding: 9px 0;
        letter-spacing: 0.65px;
    }

    .product-menu-category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0 15px 1px;
    }

    .product-menu-category-title {
        text-transform: uppercase;
        font-size: 15px;
    }

    .product-menu-category-img.sharp {
        background: url("../img/Layer 11 copy 3@1X.png") no-repeat center/cover;
        width: 25px;
        height: 25px;
    }

    .product-menu-category-img.wine {
        background: url("../img/Layer 9 copy 3@1X.png") no-repeat center/cover;
        width: 13px;
        height: 24px;
        margin-right: 7px;
        margin-top: 2px;
    }


    .product-menu-category-img.tea {
        background: url("../img/Layer 10 copy 3@1X.png") no-repeat center/cover;
        width: 30px;
        height: 21px;
    }

    .product-menu-category-img.beer {
        background: url("../img/Layer 8 copy 3@1X.png") no-repeat center/cover;
        width: 21px;
        height: 20px;
        margin-right: 5px;
    }

    .product-menu-position {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-menu-position-title {
        font-size: 13px;
        letter-spacing: 0.2px;
    }

    .product-menu-position-price {
        font-weight: 600;
        letter-spacing: -0.3px;
        font-size: 14px;
    }

    .product-menu-position-description {
        text-align: justify;
        font-size: 9px;
        line-height: 10px;
        padding: 7px 0 9px 0;
        /*word-spacing: 0.1px;*/
        letter-spacing: -0.1px;
    }

    .for-perf-pix {
        padding-top: 6px;
    }

    .some-fix {
        padding-top: 2px;
    }

    .product-menu-title-green {
        margin-top: 22px;
        padding-left: 2px;
        letter-spacing: 0.6px;
        background-color: #acd8ad;
    }

    .product-menu-title-green-text {
        color: #ffffff;
        font-size: 19px;
        text-transform: uppercase;
        padding: 10px 0;
    }

    .footer {
        background-color: #acd8ad;
        padding: 13px 0;
        text-align: center;
        margin-top: 40px;
    }

    .footer-text {
        font-family: 'Montserrat-Medium', serif;
        color: #ffffff;
        padding-bottom: 1px;
        font-size: 12px;
        padding-left: 5px;
        letter-spacing: -0.1px;
    }
